body {
    background: #222222;
    color: #dfdfdf;
    font-family: Monospace;
}

a, a:visited {
    color: #00eeff;
    text-decoration: none;
}

a:hover {
    color: #dfdfdf;
}

.red {
    color: #ff0000;
}